<p-card>
  <p-tabView>
    <!-- Aba de Listagem de Todos os Pacientes -->
    <p-tabPanel header="Todos os Pacientes">
      <p-table [value]="pacients">
        <ng-template pTemplate="header">
          <tr>
            <th>CPF</th>
            <th>Nome</th>
            <th>Idade</th>
            <th>Endereço</th>
            <th>Telefone</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-pacient>
          <tr>
            <td>{{ pacient.cpf }}</td>
            <td>{{ pacient.nome }}</td>
            <td>{{ pacient.idade }}</td>
            <td>{{ pacient.endereco }}</td>
            <td>{{ pacient.telefone }}</td>
          </tr>
        </ng-template>
      </p-table>
    </p-tabPanel>

    <!-- Aba de Listagem de Pacientes em Tratamento -->
    <p-tabPanel header="Pacientes em Tratamento">
      <p-table [value]="pacientsInTreatment">
        <ng-template pTemplate="header">
          <tr>
            <th>CPF</th>
            <th>Nome</th>
            <th>Idade</th>
            <th>Endereço</th>
            <th>Telefone</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-pacient>
          <tr>
            <td>{{ pacient.cpf }}</td>
            <td>{{ pacient.nome }}</td>
            <td>{{ pacient.idade }}</td>
            <td>{{ pacient.endereco }}</td>
            <td>{{ pacient.telefone }}</td>
          </tr>
        </ng-template>
      </p-table>
    </p-tabPanel>
  </p-tabView>
</p-card>
